/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Nov, 2016, 3:05:20 PM
    Author     : preema
*/

.dashboard_layout .dash-icon{margin-top: -5px;}
.navbar-brand{ font-size: 16px !important; }
.user_table .dataTables_length > label > span:first-child {float: left;margin: 0 15px 8px 0;}
.user_table .dataTables_filter{margin: 0}
#ticket_table_wrapper .datatable-header {padding: 0 !important;}
#ticket_table_wrapper .dataTables_length > label > span:first-child {float: left;margin: 0 15px 8px 0;}
.validation-valid-label {display: none !important;}
.ticket_details > .panel-heading {background-color: #333;border-color: #ddd;color: #fff;}
.alpha-teal {background-color: #e0f2f1 !important;}

.articles .delete{margin-left: 5px;}
.staff_head, .is_read{ background-color: rgba(197, 155, 171, 0.33); color: darkcyan; }
.file-drop-zone-title{
    padding: 60px 10px !important;
}
.panel-heading.tic-listing{padding-right: 0px;}
.panel-heading.user-listing{padding-right: 0px;}
.tic-listing .select2.select2-container.select2-container--default,
.user-listing .select2.select2-container.select2-container--default {
    margin-left: 26px;
    width: 200px !important;
}
.faq-listing{float:right;padding-right: 24px;}
.fancybox-close:after, .fancybox-next span:after, .fancybox-prev span:after { content: none !important; }
.home_image{ padding:10px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);}
label.text-semibold { text-decoration: none !important;
    color: #1ABC9C;cursor: text;}
.template_div {border-bottom: #e8e8e8 1px solid; padding: 15px;}
@media screen and (min-width: 320px) and (max-width:480px) {
    .news_ann{
        margin-top: 10px;
    }
}
@media(max-width:550px){
    .faq_collapsed{display: table-cell !important;width: 86%;}
    .faq-listing {
        display: table-cell;
        vertical-align: middle;
        width: 63px;
        padding-right: 5px;
        float: none;
    }
}
@media(max-width:480px){.faq_collapsed{display: table-cell !important;width: 83% !important;;}}
@media(max-width:380px){    .faq_collapsed{width: 80% !important;}}
@media(max-width:340px){    .faq_collapsed{width: 77% !important;}}
